<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section id="game" ng-app="memoryApp">
      <div id="cards" ng-controller="MemoryController">
        <div class="card"
             ng-repeat="card in deck track by $index"
             ng-click="selectCard()"
             ng-class="{'card-flipped': deck[$index].flipped, 'card-removed': deck[$index].removed}"
          >
          <div class="face front"></div>
          <div class="face back {{ card.name }}"></div>
        </div> <!-- .card -->
      </div> <!-- #cards -->
    </section> <!-- #game -->
  </body>
</html>
