<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section id="game" ng-app="memoryApp">
      <div id="cards" ng-controller="MemoryController">
        <div class="card" ng-repeat="card in deck track by $index">
          <div class="face front"></div>
          <div class="face back"></div>
        </div> <!-- .card -->
      </div> <!-- #cards -->
    </section> <!-- #game -->
  </body>
</html>
